*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "bangers";
}

body{
    background-color: #1b1b1b;
}

#canvas{
    display: block;
    margin: 5% auto;
    image-rendering: pixelated;
    height: 70vh;
}

.textArea{
    width: 35%;
    display: block;
    margin: 0 auto;
    color: white;
    position: absolute;
    top: 23%;
    left: 32%;
    text-align: center;
}
.textArea h1{
    letter-spacing: 3px;
    padding: 50px 0 20px 0;
}
.textArea p{
    font-size: 1.5em;
    padding: 10px 0;
    letter-spacing: 2px;
}
